
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}




.jumbotro {
	color: #fff;
    font-family: ARIAL, sans-serif;
    padding-top: 60px
}
 
.jumbotro a{
    text-decoration: underline;
    color: #fff
}

.jumbotro a:hover{
    text-decoration: underline;
    color: #fff
}  

.dropbtn1 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn2 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}
.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown3 {
    position: relative;
    display: inline-block;
}
.dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
}
.dropdown3:hover .dropdown-content3 {
    display: block;
}
.dropdown4:hover .dropdown-content4 {
    display: block;
}

.dropdown1:hover .dropbtn1 {
    background-color: #3e8e41;
}
.dropdown2:hover .dropbtn2 {
    background-color: #3e8e41;
}
.bh1{
    font-size: 20px;
    
   border: none;
    background: #5bc0de;
    color: #fff;
    padding:10px;
    width: 120px
}

.comp_form{
    width: 100%;
    height: auto;
    background: #5bc0de;
    padding: 40px
}

.header{
    padding:20px ;
    color: #fff
}
.head_left{
    text-align: left;
}

.head_right{
    text-align: right;
}
.middle{
    text-align: center
}


.heading{
    font-size: 2.8em;
    color: #fff
}

.portal{
    margin-top: 40px;
    width: 140px;
    padding: 7px 18px;
    color: #000;font-weight: bold
}

.logo{
    font-size: 20px
}

.logo h1 a{
    text-decoration: none;
    color: #fff
}

#file{
    margin-top: 60px
}

.active{
    background-color: #4CAF50; /* Green */
    color: white;
     box-shadow: inset 0 0 0 1px #27496d,0 5px 30px #193047;
 
}

.register{
    font-size: 1.8em
}

.complain{
    color: #000;
    font-size: 1.6em;
    text-align: left;
    background: #fff;
    padding-top: 15px
}

.complain ul li{
    list-style: none;
}

.complain1{
    font-size: 1.2em
}

