<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portal for Repair Issues in Hostel</title>
  <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="To file comllaint regarding maintenance of hostels and Academic area of LNMIIT.">
  <meta name="author" content="Ayush Agrawal, Shubhanshu Vijay, Akhilesh Maheshwari, Meha Mittal, Harshita Sodani, Pooja Pilania">

  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
   <body style='background-image:url("images/4.jpg");background-size:cover;'>
   <div class="header ">
      <div class="container">
        <div class="col-md-6 head_left logo">
             <h1><a href="index.html">Complaint Portal</a></h1>
        </div>
        <div class="col-md-6 head_right nav_right">
            <ul>
              <li><a href="login.html">Welcome XYZ</a></li>
            </ul>
        </div>
       </div> 
  </div>
   <div class=" text-center">
   
   
  

  <div id="file" class="col-md-12" >
    <div class="col-md-6  col-md-offset-3">
     
       <p class="heading head_left">Overdue Complain</p>
       
    </div>
  </div>
  <div class="col-md-6  col-md-offset-3 complain complain1">
      <ul>
        <li>1. Ayush Agrawal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 20/10/16 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;For Fan Not Working<br>            BH-2 A-228</button>
        </li><hr>
        <li>1. Ayush Agrawal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 20/10/16 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;For Fan Not Working<br>            BH-2 A-228</button>
        </li><hr>
        <li>1. Ayush Agrawal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 20/10/16 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;For Fan Not Working<br>            BH-2 A-228</button>
        </li><hr>
        
        
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  <div id="file" class="col-md-12" >
    <div class="col-md-6  col-md-offset-3">
     
       <p class="heading head_left">Feedback</p>
       
    </div>
  </div>
  <div class="col-md-6  col-md-offset-3 complain complain1">
      <ul>
        <li>1. Ayush Agrawal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ayshagra@gmail.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;For Fan Not Working</button>
        </li><hr>
        <li>1. Ayush Agrawal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ayshagra@gmail.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;For Fan Not Working</button>
        </li><hr>
        <li>1. Ayush Agrawal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ayshagra@gmail.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;For Fan Not Working</button>
        </li><hr>
        
        
        
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
</body>
</html>
